:root {
  --scrollbar: rgb(30 41 59);
  --scrollbar-hover: rgb(51 65 85);
  --scrollbar-bg: rgb(17 24 39);
}

* {
  scrollbar-color: var(--scrollbar) var(--scrollbar-bg);
}

::-webkit-scrollbar {
  width: 2em;
  height: 2em
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: .6em;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

