@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    font-family: 'Lilita One', sans-serif;
    background: rgb(17 24 39);
    min-width: 668px;
    overflow-x: hidden;
  }
  @media screen and (max-width: 440px) {
    body {
      zoom: 0.6;
    }
  }
}